services:
  scraper:
    container_name: scraper
    hostname: scraper
    build: ./LinkedinScraper
    depends_on:
      logstash:
        condition: service_healthy

  logstash:
    container_name: logstash
    hostname: logstash
    build: ./Logstash
    ports:
      - "5000:5000"
    depends_on:
      elasticsearch:
        condition: service_healthy
      kafka:
        condition: service_started
    links:
      - elasticsearch
      - kafka      
    healthcheck: # Used to make the scraper sent data to logstash only if logstash is correctly listening
      test: ["CMD-SHELL", "curl -f http://localhost:5000 || exit 1"]
      interval: 3s
      timeout: 3s
      retries: 15
  
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_NAME_PLAINTEXT_HOSTNAME: kafka
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka-data:/var/lib/kafka/data
    ports:
      - "9092:9092"
      - "9093:9093"

  topics:
    image: apache/kafka:latest
    container_name: topic-deduped-posts
    command: > 
      bash -c "
      /opt/kafka/bin/kafka-topics.sh --create --topic deduped_job_posts --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1
      "
    depends_on:
      kafka:
        condition: service_healthy
  
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    hostname: kafka-ui
    ports:
      - '8080:8080'
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: PLAINTEXT

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    hostname: elasticsearch
    ports:
      - 9200:9200
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - http.cors.enabled=true
      - http.cors.allow-origin=*
    volumes:
      - initialJobPosts:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  kibana:
    image: kibana:8.15.0
    container_name: kibana
    hostname: kibana
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601/api/status"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  kafka-data:
  initialJobPosts: