services:
  scraper:
    container_name: scraper
    hostname: scraper
    build: ./LinkedinScraper
    depends_on:
      logstash:
        condition: service_healthy
    dns:
     - 8.8.8.8
     - 1.1.1.1 



  logstash:
    container_name: logstash
    hostname: logstash
    build: ./Logstash
    environment:
      LS_JAVA_OPTS: "-Xmx512m -Xms512m"  
    ports:
      - "5000:5000"
    depends_on:
      elasticsearch:
        condition: service_healthy
      kafka:
        condition: service_healthy
    healthcheck: # Used to make the scraper sent data to logstash only if logstash is correctly listening
      test: ["CMD-SHELL", "curl -f http://localhost:5000 || exit 1"]
      interval: 3s
      timeout: 3s
      retries: 15
  


  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_NAME_PLAINTEXT_HOSTNAME: kafka
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_RETENTION_BYTES: 2147483648  # 2GB
    volumes:
      - kafka-data:/var/lib/kafka/data
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092 || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 20s

  topics:
    image: apache/kafka:latest
    container_name: topic-deduped-posts
    command: > 
      bash -c "
      /opt/kafka/bin/kafka-topics.sh --create --topic deduped_job_posts --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1
      "
    depends_on:
      kafka:
        condition: service_healthy
  
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    hostname: kafka-ui
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: PLAINTEXT
    ports:
      - '8080:8080'
    depends_on:
      kafka:
        condition: service_healthy



  spark-master:
    image: apache/spark-py:v3.4.0
    container_name: spark-master
    hostname: spark-master
    user: root
    ports:
      - "8081:8080"  # Spark Master Web UI
      - "7077:7077"  # Spark Master port
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 5s
      retries: 5

  spark-worker:
    build:
      context: ./Spark
      dockerfile: Dockerfile.worker
    container_name: spark-worker
    hostname: spark-worker
    user: root
    environment:
      - SPARK_WORKER_MEMORY=4G
      - SPARK_WORKER_CORES=2
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      spark-master:
        condition: service_healthy
    volumes:
      - ./Spark/skill_extractor_model:/app/model:ro

  spark-app:
    build:
      context: ./Spark
      dockerfile: Dockerfile.app
    container_name: spark-app
    hostname: spark-app
    environment:
      - SPARK_MASTER_URL=spark://spark-master:7077
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - ELASTICSEARCH_HOST=elasticsearch
      - ELASTICSEARCH_PORT=9200
    depends_on:
      spark-master:
        condition: service_healthy
      kafka:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    volumes:
      - ./Spark/skill_extractor_model:/app/model:ro  # Mount your model directory as read-only



  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    hostname: elasticsearch
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - 9200:9200
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 5s
      retries: 10
  
  elasticsearch-indexes:
    image: curlimages/curl:latest
    container_name: init-elasticsearch
    depends_on:
      elasticsearch:
        condition: service_healthy
    volumes:
      - ./elasticsearch/create_indexes.sh:/init-elasticsearch.sh:ro
    command: sh /init-elasticsearch.sh



  kibana:
    image: kibana:8.15.0
    container_name: kibana
    hostname: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - 5601:5601
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601/api/status"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  kafka-data:
  elasticsearch-data: